@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/DwAj7ratfj53tabaOiOW3g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: normal;
  line-height: 1.2;
}

div {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

a {
  color: black;
}
/*header section*/

header {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;;
  height: 4rem;
  position: fixed;
  width: 1080px;
  z-index: 1;
}
.colmar {
  font-weight: bold;
}
.academy,
nav span a {
  color: rgba(0,0,0,0.6);
}
/*nav*/
header nav {
  padding-right: 1rem;
}

nav span {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0 .5rem;
}

/*logo*/
.logo {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  padding: 0 1.5rem;
}

.logo img {
  height: 3rem;
  margin-right: .25rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  /* To offset for fixed header. */
}


/*banner section*/
.banner-section {
  background-color: rgb(216,216,216);
  padding-top: 2rem;
  width: 1080px;
  display: flex;
  justify-content: center;
}

.banner-left {
  max-width: 60%;
  padding: 0rem 0rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-section img {
  max-width: 100%;
}

.banner-right {
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  max-width: 40%;
}

.banner-right h1,
.banner-right h2 {
  margin-bottom: 1.25rem;
}
.banner-right button {
  background-color: rgb(74,74,74);
  color: white;
  font-size: 20px;
  padding: .5rem;
  max-width: 15rem;
}


/*practicing section*/
.practice-section {
  background-color: rgb(216,216,216);
  width: 1080px;
  display: flex;
  justify-content: center;
}

.practice-left {
  border: dashed 2px green;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  padding: 2rem 0 2rem 1.5rem;
}

.practice-left img {
  max-width: 100%;
}

.practice-r-orientation {
  display: flex;
  flex-direction: row;
}

.practice-r-campus {
  border: dashed 2px black;
  display: flex;
}

.practice-r-guest {
  display: flex;
  flex-direction: row;
}

.practice-right {
  border: dashed 2px red;
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  width: 26.4375rem;
}

.practice-right img {
  width: 35%;
  height: 7.875rem;
}
.practice-r-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.practice-left h1 {
  margin-bottom: 1.25rem;
}


/*start learning section*/


/*thesis exhibit section*/


/*footer section*/
