@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/DwAj7ratfj53tabaOiOW3g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(243,244,245);
  color: rgb(74,74,74);
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: normal;
  line-height: 1.2;
}

.outer-border {
  border-left: solid 1px rgba(74,74,74,0.5);
  border-right: solid 1px rgba(74,74,74,0.5);
  border-bottom: solid 1px rgba(74,74,74,0.5);
  /*border: dashed 2px red;*/
  max-width: 1178px;
  margin: 0 auto;
  /*position: relative;*/
  /*top: 4rem;*/
}

.wrapper {
  display: flex;
  justify-content: center;
  /*position: relative;*/
  /*top: 4rem;   /* To offset for fixed header. */
}

div {
  display: block;
}

p {
  line-height: 1.4;
}
.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

a {
  color: black;
  transition: color 0.1s ease-in 0.1s;
}
/*header section*/

header {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;;
  height: 4rem;
  /*position: fixed;*/
  width: 1178px;
  z-index: 1;
}
.colmar {
  font-weight: bold;
}

/*nav*/
.academy,
nav span a {
  color: rgba(0,0,0,0.6);
  transition: font-size 0.1s ease-in-out 0.1s;
}

nav span a:hover {
  font-size: 1.25rem;
  color: black;
  transition: font-size 0.1s ease-in-out 0.1s;

}

header nav {
  padding-right: 1rem;
}

nav span {
  display: inline-block;
  font-size: 1rem;
  padding: 0 .5rem;
}

/*logo*/
.logo {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  padding: 0 1.5rem;
}

.logo img {
  height: 3rem;
  margin-right: .25rem;
}

/*banner section*/
.banner-section {
  background-color: rgb(216,216,216);
  padding-top: 2rem;
  width: 1178px;
  display: flex;
  justify-content: center;
}

.banner-left {
  max-width: 60%;
  padding: 0rem 0rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-section img {
  max-width: 100%;
}

.banner-right {
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  max-width: 40%;
}

.banner-right h1,
.banner-right h2 {
  margin-bottom: 1.25rem;
}
.banner-right button {
  background-color: rgb(74,74,74);
  font-size: 1.25rem;
  padding: .5rem;
  max-width: 95%;
}

.banner-right button a {
  color: rgb(213,213,213);
}

.banner-right button a:hover {
  color: white;
}

/*practicing section*/
.practice-section,
.learning-section {
  width: 1178px;
  display: flex;
  justify-content: center;
  /*padding-bottom: 2rem;
  margin-bottom: 2rem;*/
}

.practice-left {
  max-width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*justify-content: center;*/
  padding: 2rem 1.5rem 0 1.5rem;
}

.practice-left img {
  max-width: 100%;
  padding-bottom: 2rem;
}

.practice-left h1 {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.practice-left p {
  max-width: 100%;

}
.prac-notes-l {
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

.practice-right {
  border-left: solid 1px rgb(216,216,216);
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 26.4375rem;
}

/*.practice-r-orientation {
  display: flex;
  flex-direction: row;
}*/

.practice-right img {
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}

.practice-r-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prac-notes-r {
  padding: .5rem 0;
}

.practice-r-text a {
  color: rgb(143,185,233);
}

.practice-r-text a:hover {
  color: rgb(0,0,255);
}
.practice-r-campus {
  display: flex;
}

.practice-r-orientation,
.practice-r-campus,
.practice-r-guest {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 100%;
}

.practice-r-guest {
  background-color: rgb(216,216,216);
}



/*start learning section*/
.learn-container {
  width: 1178px;
  margin: 0 auto;
}

.learn-container {
  background-color: rgb(234,235,236);
}

.learn-title {
  padding: 2rem 0;
  text-align: center;
}

.learn-row-1,
.learn-row-2 {
  display: flex;
  justify-content: center;
  max-width: 1178px;
  margin: 0 auto;
}

.learn-row-2 {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.learn-1-1,
.learn-1-2,
.learn-1-3,
.learn-2-1,
.learn-2-2,
.learn-2-3 {
  background-color: white;
  color: rgba(74,74,74,0.5);
  max-width: 23%;
  padding-bottom: 1.5rem;
}

.learn-1-1 img,
.learn-1-2 img,
.learn-1-3 img,
.learn-2-1 img,
.learn-2-2 img,
.learn-2-3 img {
  max-height: 140px;
  max-width: 100%;
}

.learn-1-1,
.learn-2-1 {
  margin-right: 1rem;
}
.learn-1-2,
.learn-2-2 {
  margin: 0 1rem;
}
.learn-1-3,
.learn-2-3 {
  margin-left: 1rem;
}

.learn-row-1 h2,
.learn-row-2 h2 {
  color: rgb(74,74,74);
  margin-top: 1rem;
  margin-left: 1rem;
}

.courses {
  margin: .5rem 0 .5rem 1rem;
}

.classes {
  margin-left: 1rem;
}


/*thesis exhibit section*/
.thesis-container {
  max-width: 1178px;
  margin: 0 auto;
}
.thesis-title {
  padding: 2rem 0;
  text-align: center;
}

.video-row {
  display: flex;
}

.thesis-col-left {
  padding: 0 1rem 0 1.5rem;
  width: 61%;
}

.thesis-col-left video {
  width: 100%;
}

.thesis-col-right {
  /*border: dashed 2px red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-r-row-one,
.col-r-row-two {
  /*border: solid 1px black;*/
  display: flex;
  align-content: center;
  height: 168px;
  max-width: 423px;
}

.col-r-row-one {
  background-color: rgb(216,216,216);
}

.col-r-row-one img,
.col-r-row-two img {
  /*border: dashed 2px red;*/
  max-height: 81%;
  padding: 1rem;
}

.col-r-row-1-text,
.col-r-row-2-text {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  max-height: 136px;
  max-width: 116px;
}
.col-r-row-1-text {
  justify-content: space-around;
}
.col-r-row-2-text {
  justify-content: center;
}

.thesis-col-left-urban {
  margin: 1.5rem 0 2rem 1.5rem;
  width: 61%;
}

.thesis-col-left-urban h2 {
  margin-bottom: 1.2rem;
}

footer {
  border-top: solid 1px rgba(74,74,74,0.1);
  padding: 0.75rem 1.5rem 24px 1.5rem;
  margin: 0 auto 2rem auto;
  max-width: 1178px;
  box-sizing: border-box;
}

.ft-content {
  display: flex;
  font-size: .75rem;
  font-family: Roboto;
  font-weight: normal;
}

footer .copyright {
  flex-grow: 1;
}












/*footer section*/
