@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/DwAj7ratfj53tabaOiOW3g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  color: rgb(74,74,74);
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: normal;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;   /* To offset for fixed header. */
}

div {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

a {
  color: black;
}
/*header section*/

header {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;;
  height: 4rem;
  position: fixed;
  width: 1080px;
  z-index: 1;
}
.colmar {
  font-weight: bold;
}

/*nav*/
.academy,
nav span a {
  color: rgba(0,0,0,0.6);
}

header nav {
  padding-right: 1rem;
}

nav span {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0 .5rem;
}

/*logo*/
.logo {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  padding: 0 1.5rem;
}

.logo img {
  height: 3rem;
  margin-right: .25rem;
}

/*banner section*/
.banner-section {
  background-color: rgb(216,216,216);
  padding-top: 2rem;
  width: 1080px;
  display: flex;
  justify-content: center;
}

.banner-left {
  max-width: 60%;
  padding: 0rem 0rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-section img {
  max-width: 100%;
}

.banner-right {
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  max-width: 40%;
}

.banner-right h1,
.banner-right h2 {
  margin-bottom: 1.25rem;
}
.banner-right button {
  background-color: rgb(74,74,74);
  color: white;
  font-size: 20px;
  padding: .5rem;
  max-width: 95%;
}

/*practicing section*/
.practice-section,
.learning-section {
  width: 1080px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.practice-left {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*justify-content: center;*/
  padding: 2rem 1.5rem 0 1.5rem;
}

.practice-left img {
  max-width: 100%;
  padding-bottom: 2rem;
}

.practice-left h1 {
  margin-bottom: 1.5rem;
}

.prac-notes-l {
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}

.practice-right {
  border-left: solid 1px rgb(216,216,216);
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  width: 26.4375rem;
}

/*.practice-r-orientation {
  display: flex;
  flex-direction: row;
}*/

.practice-right img {
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}

.practice-r-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prac-notes-r {
  padding: .5rem 0;
}

.practice-r-text a {
  color: rgb(143,185,233);
}

.practice-r-campus {
  display: flex;
}

.practice-r-orientation,
.practice-r-campus,
.practice-r-guest {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 100%;
}

.practice-r-guest {
  background-color: rgb(216,216,216);
}



/*start learning section*/
.learn-container {
  background-color: rgb(234,235,236);
  max-width: 1080px;
  margin: 32px auto 32px auto;
}

.learn-title {
  padding: 32px 0;
  text-align: center;
}

.learn-row-1,
.learn-row-2 {
  display: flex;
  max-width: 1080px;
  justify-content: center;
}

.learn-row-2 {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.learn-1-1,
.learn-1-2,
.learn-1-3,
.learn-2-1,
.learn-2-2,
.learn-2-3 {
  background-color: white;
  color: rgba(74,74,74,0.5);
  max-width: 274px;
  padding-bottom: 1.5rem;
}

.learn-1-1 img,
.learn-1-2 img,
.learn-1-3 img,
.learn-2-1 img,
.learn-2-2 img,
.learn-2-3 img {
  max-height: 140px;
}

.learn-1-1,
.learn-2-1 {
  margin-right: 1rem;
}
.learn-1-2,
.learn-2-2 {
  margin: 0 1rem;
}
.learn-1-3,
.learn-2-3 {
  margin-left: 1rem;
}

.learn-row-1 h2,
.learn-row-2 h2 {
  color: rgb(74,74,74);
  margin-top: 1rem;
  margin-left: 1rem;
}

.courses {
  margin: .5rem 0 .5rem 1rem;
}

.classes {
  margin-left: 1rem;
}







/*thesis exhibit section*/


/*footer section*/
