@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/DwAj7ratfj53tabaOiOW3g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(243,244,245);
  color: rgb(74,74,74);
  margin: 0;
  font-family: "Roboto", "sans-serif";
  font-weight: normal;
  line-height: 1.2;
}

.outer-border-desk {
  border-left: solid 1px rgba(74,74,74,0.5);
  border-right: solid 1px rgba(74,74,74,0.5);
  border-bottom: solid 1px rgba(74,74,74,0.5);
  /*border: dashed 2px red;*/
  max-width: 1178px;
  margin: 0 auto;
  /*position: relative;*/
  /*top: 4rem;*/
}

.outer-border {
  border-left: solid 1px rgba(74,74,74,0.5);
  border-right: solid 1px rgba(74,74,74,0.5);
  border-bottom: solid 1px rgba(74,74,74,0.5);
  /*border: dashed 2px red;*/
  max-width: 1178px;
  margin: 0 auto;
  /*position: relative;*/
  /*top: 4rem;*/
}

.outer-border {
  display: block;
}

@media only screen and (max-width: 767px) {
  /*Outer-border section*/

}

.wrapper {
  display: flex;
  justify-content: center;
  /*position: relative;*/
  /*top: 4rem;   /* To offset for fixed header. */
}

div {
  display: block;
}

p {
  line-height: 1.4;
}
.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

a {
  color: rgb(74,74,74);
  transition: color 0.1s ease-in 0.1s;
}
/*header section*/

.header-desktop {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;;
  height: 4rem;
  /*position: fixed;*/
  width: 1178px;
  z-index: 1;
}

.header-mobile {
  display: none;
}

.colmar {
  font-weight: bold;
}

/*nav*/
.academy,
nav span a {
  color: rgba(0,0,0,0.6);
  transition: font-size 0.1s ease-in-out 0.1s;
}

nav span a:hover {
  font-size: 1.25rem;
  color: black;
  transition: font-size 0.1s ease-in-out 0.1s;

}

.header-desktop nav {
  padding-right: 1rem;
}

nav span {
  display: inline-block;
  font-size: 1rem;
  padding: 0 .5rem;
}

/*logo*/
.logo {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  padding: 0 1.5rem;
}

.logo img {
  height: 3rem;
  margin-right: .25rem;
}

@media only screen and (max-width: 767px) {

  .header-desktop {
    display: none;
  }
  .header-mobile {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    width: 767px;
    border-left: solid 1px rgba(74,74,74,0.5);
    border-right: solid 1px rgba(74,74,74,0.5);
  }
  .header-mobile a {
    display: flex;
    align-items: center;
  }
}

/*banner section*/
.banner-section {
  background-color: rgb(216,216,216);
  padding-top: 2rem;
  width: 1178px;
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
}

.banner-left {
  width: 60%;
  padding: 0rem 1.5rem 2rem 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-section img {
  max-width: 100%;
}

.banner-right {
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1.5rem;
  max-width: 423px;
}

.banner-right h1,
.banner-right h2 {
  margin-bottom: 1.25rem;
  max-width: 75%;
}
.banner-right button {
  background-color: rgb(74,74,74);
  font-size: 1.25rem;
  padding: .5rem;
  max-width: 64%;
}

.banner-right button a {
  color: rgb(213,213,213);
}

.banner-right button a:hover {
  color: white;
}

@media only screen and (max-width: 767px) {
  /*banner section*/

  .banner-section {
    background-color: rgb(216,216,216);
    padding-left: 0;
    padding-top: 0;
    width: 767px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-section img {
    display: none;
  }

  .banner-right button a {
    color: white;
    width: 100%;
  }

  .banner-right button a:active {
    border: solid 1px white;
  }

  .banner-right h1 {
    /*font-size: 20px;*/
    min-width: 260px;
    max-width: 100%;
  }

  .banner-right h2 {
    min-width: 260px;
    margin-bottom: 0;
  }

  .banner-right button {
    background-color: rgba(74,74,74,0.5);
    margin: 1.5rem 0 2rem 0;
    max-width: 100%;
    width: 100%;
  }

  .banner-left {
    background-color: rgba(74,74,74,0.5);
    width: 100%;
    padding: 0;
    margin: 0 0 2rem 0;
    display: flex;
    height: 180px;
  }

  .banner-right {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

/*practicing section*/
.practice-section,
.learning-section {
  width: 1178px;
  display: flex;
  padding-left: 1.5rem;
  justify-content: flex-start;
}

.practice-left {
  max-width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem 0 0;
}

.practice-left img {
  max-width: 100%;
  padding-bottom: 2rem;
}

.practice-left h1 {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.practice-left p {
  max-width: 100%;

}
.prac-notes-1 {
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.prac-notes-2 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.practice-right {
  border-left: solid 1px rgb(216,216,216);
  color: rgb(74,74,74);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 26.4375rem;
}

/*.practice-r-orientation {
  display: flex;
  flex-direction: row;
}*/

.practice-right img {
  width: 35%;
  height: 35%;
  padding-right: 1rem;
}

.img-desk {
  display: block;
}

.img-mobile {
  display: none;
}

.practice-r-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}

.guest-text-desk {
  display: block;
}
.guest-text-mobile {
  display: none;
}

.prac-notes-r {
  font-size: .875rem;
  padding: .5rem 0;
}

.practice-r-text a {
  color: rgb(143,185,233);
  font-size: .875rem;
}

.practice-r-text a:hover {
  color: rgb(74,144,226);
  font-weight: bold;
}

.practice-r-campus {
  display: flex;
}

.practice-r-orientation,
.practice-r-campus,
.practice-r-guest {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 423px;
  box-sizing: border-box;
}

.practice-r-guest {
  background-color: rgb(216,216,216);
}

@media only screen and (max-width: 767px) {
/*practice section*/

  .practice-section {
      padding-left: 0;
  }

  .practice-r-orientation, .practice-r-campus, .practice-r-guest {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 1rem 0 1rem;
    max-width: 100%;
  }
  .practice-left {
    display: none;
  }

  .practice-right {
    border: none;
    width: 100%;
    padding-top: 0;
  }

  .img-desk {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .practice-r-guest {
    background-color: rgb(243,244,245);
    padding-bottom: 2rem;
    border-bottom: solid 1px rgba(216,216,216,0.5);
}

  .practice-right img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .guest-text-desk {
    display: none;
  }
  .guest-text-mobile {
    display: block;
  }


}

/*start learning section*/
.learn-container {
  width: 1178px;
  margin: 0 auto;
}

.learn-container {
  background-color: rgb(234,235,236);
}

.learn-title {
  padding: 2rem 0;
  text-align: center;
}

.learn-row-1,
.learn-row-2 {
  display: flex;
  justify-content: center;
  max-width: 1178px;
  margin: 0 auto;
}

.learn-row-2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.learn-row-1,
.learn-row-2,
.learn-title {
  background-color: rgb(234, 235, 236);
}

.learn-1-1,
.learn-1-2,
.learn-1-3,
.learn-2-1,
.learn-2-2,
.learn-2-3 {
  background-color: white;
  color: rgba(74,74,74,0.5);
  max-width: 23%;
  padding-bottom: 1.5rem;
}

.learn-1-1 img,
.learn-1-2 img,
.learn-1-3 img,
.learn-2-1 img,
.learn-2-2 img,
.learn-2-3 img {
  max-height: 140px;
  max-width: 100%;
}

.learn-1-1,
.learn-2-1 {
  margin-right: 1rem;
}
.learn-1-2,
.learn-2-2 {
  margin: 0 1rem;
}
.learn-1-3,
.learn-2-3 {
  margin-left: 1rem;
}

.learn-row-1 h2,
.learn-row-2 h2 {
  color: rgb(74,74,74);
  margin-top: 1rem;
  margin-left: 1rem;
}

.courses {
  margin: .5rem 0 .5rem 1rem;
}

.classes {
  margin-left: 1rem;
}

@media only screen and (max-width: 767px) {
  /*learning section*/
  .learn-row-1 img,
  .learn-row-1 p,
  .learn-row-2 img,
  .learn-row-2 p{
    display: none;
  }

  .learn-row-1,
  .learn-row-2,
  .learn-title {
    background-color: rgb(244, 245, 245);
  }

  .learn-row-1,
  .learn-row-2 {
    flex-direction: column;
    align-items: center;
    max-width: 767px;
    padding: 0 1rem 0 1rem;
  }

  .learn-row-2 {
    margin-top: 0;
    padding-bottom: 2rem;
    border-bottom: solid 1px rgba(216,216,216,0.5);

  }

  .learn-title {
    padding-bottom: 1rem;
  }

  .learn-1-1,
  .learn-1-2,
  .learn-1-3,
  .learn-2-1,
  .learn-2-2,
  .learn-2-3 {
    background-color: rgb(216,216,216);
    max-width: 100%;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 .5rem 0;
    box-sizing: border-box;
  }

  .learn-row-1 h2,
  .learn-row-2 h2 {
    padding: 1rem 0 1rem 1rem;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
}

/*thesis exhibit section*/
.thesis-container {
  max-width: 1178px;
  margin: 0 auto;
}

.thesis-title-mobile {
  display: none;
}

.thesis-title-desk {
  display: block;
  padding: 2rem 0;
  text-align: center;
}

.video-row {
  display: flex;
}

.thesis-col-left {
  padding: 0 1rem 0 1.5rem;
  width: 61%;
}

.thesis-col-left video {
  width: 100%;
}

.thesis-col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-r-row-one,
.col-r-row-two {
  display: flex;
  align-content: center;
  height: 168px;
  max-width: 423px;
}

.col-r-row-one {
  background-color: rgb(216,216,216);
}

.col-r-row-one img,
.col-r-row-two img {
  max-height: 81%;
  padding: 1rem;
}

.col-r-row-1-text,
.col-r-row-2-text {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  max-height: 136px;
  max-width: 116px;
}
.col-r-row-1-text {
  justify-content: space-around;
}
.col-r-row-2-text {
  justify-content: center;
}

.thesis-col-left-urban {
  margin: 1.5rem 0 2rem 1.5rem;
  width: 61%;
}

.thesis-col-left-urban h2 {
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 767px) {
  /*Thesis section*/
  .thesis-container {
    max-width: 767px;
  }

  .thesis-title-mobile {
    display: block;
    padding: 2rem 0 2rem 0;
    margin: 0 0 0 0;
    text-align: center;
  }

  .thesis-title-desk {
    display: none;
  }

  .thesis-col-right,
  .thesis-col-left-urban {
    display: none;
  }

  .thesis-col-left {
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
  }


}

footer {
  border-top: solid 1px rgba(74,74,74,0.1);
  padding: 0.75rem 1.5rem 24px 1.5rem;
  margin: 0 auto 2rem auto;
  max-width: 1178px;
  box-sizing: border-box;
}

.ft-content {
  display: flex;
  font-size: .75rem;
  font-family: Roboto;
  font-weight: normal;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  /*Footer section*/
  .foot-links {
    display: none;
  }

  footer {
    /*border-top: solid 1px rgba(74,74,74,0.1);*/
    border: none;
    padding: 1rem 0 1rem 1rem;
    margin: 0 auto;
    max-width: 767px;
    box-sizing: border-box;
  }

}










/*footer section*/
